.nav {
  margin: 0;
  padding: 10px;
  background: hsl(0, 0%, 20%);
  display: flex;
  list-style: none;
}

.navItems {
  margin: 10px;
}

.navLinks {
  color: hsl(0, 0%, 90%);
  text-decoration: none;
}